@import "tailwindcss";

@utility btn {
    
    background-image: url('/juego_copa_cuero_minix4_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
}